body#admin {
  user-select: text;
  overflow-y: scroll;

  .content.admin {
    padding: 10px 20px;
    font-size: 16px;

    button {
      padding: 0.2em 0.5em;
    }

    .header {
      font-size: 3em;
      color: var(--bright-green);
      button {
        font-size: 100%;
      }
    }

    .need-cfa-key {
      display: none;
      margin: 1em 0 0 1em;
      font-size: 110%;
      font-weight: 500;
      color: white;
      &.show {
        display: block;
      }
    }

    header {
      padding: 1em 0em 0.25em 0em;
      font-size: 1.5em;
    }

    .settings {
      margin: 0.5em 0em;
      align-items: baseline;
      .existing {
        font-size: 110%;
        margin: 0;
        flex-grow: 1;
        span.value {
          font-weight: 500;
          letter-spacing: 0.05em;
        }
      }
      .new-key {
        margin: 0;
        flex-grow: 2;
      }
    }
    form#enter-cfa-key {
      margin: 0;
      label,
      input {
        margin-right: 0.5em;
        padding: 0.25em 0.5em 0.25em 0;
      }
      input {
        padding: 0.25em 0.5em;
        background-color: #ccc;
      }
      input:focus {
        background-color: #eee;
      }

      input:invalid ~ button[type="submit"] {
        background-color: #ccc;
      }

      button {
        margin: 0 0.5em;
      }

      p.key-constraints {
        margin: 0.25em 0;
        font-size: 90%;
      }
    }
    div.cfa-handshake {
      margin-top: 1em;
    }

    .cfa-logging {
      margin-left: 0.5em;
      width: 80vw;
      justify-content: space-between;
      align-items: flex-end;
      header {
        padding-left: 0;
      }
      button.erase-cfa-logging {
      }
      &.requests {
        justify-content: flex-start;
        button {
          span.count {
            padding: 0 0.2em 0 0.2em;
            font-weight: bold;
          }
        }
      }
    }

    #cfa-handshake-status {
      display: none;
      &.show {
        display: block;
      }
      margin-top: 1em;
      margin-left: 1.5em;
      width: 60%;
      min-width: 40em;
      font-size: 110%;
      font-weight: 500;
      pre {
        margin: 0.75em 1em 1.25em 1em;
        min-height: 3em;
        padding: 0.75em 1.5em;
        background-color: #555;
        font-size: 65%;
        white-space: break-spaces;
        &.failure {
          color: #f5c38f;
        }
      }
    }
    #cfa-logging-output {
      margin-top: 1em;
      margin-left: 1.5em;
      width: 75vw;
      min-width: 40em;
      font-size: 110%;
      font-weight: 500;
      pre {
        margin: 0.75em 1em 1.25em 1em;
        min-height: 3em;
        max-height: 25em;
        padding: 0.75em 1.5em;
        background-color: #555;
        font-size: 65%;
        white-space: break-spaces;
      }
    }
  }

  .erase-cfa-modal,
  .about-cfa-modal {
    top: 10vh;
    .modal-content {
      .modal-header {
        color: white;
        .modal-title {
          font-size: 3.2vmin;
        }
        button {
          display: block;
          box-sizing: content-box;
          width: 1em;
          height: 1em;
          i {
            font-size: 1em;
          }
        }
      }
      .modal-body {
        font-size: 2.2vmin;
        color: white;
        .license {
          font-size: 85%;
        }
        .buttons {
          margin: 1em 1em 1em 0;
          display: flex;
          justify-content: space-between;
          button {
            padding: 0.2em 0.5em;
            display: inline-block !important;
          }
        }
      }
    }
  }
  .about-cfa-modal {
    .modal-content {
      width: 60vw;
    }
  }
}
